* {
    box-sizing: border-box;
}

header {
    font-size: .8rem;
    color: white;
    padding: 1.2rem;
}

body {
    margin: 0;
    font-family: 'Poppins', sans-serif;

}

header {
    background-color: #191d2b;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    min-height: 30vh;
}

header p {
    /* background-color: #27AE60; */
    color: #00ff6a;
}

main {
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    text-align: center;
    width: 95%;
    padding: 20px;
    display:block;
}

.container .form-control {
    margin: 10px 0;
    width: 100%;
    position: relative;
    
    padding-bottom: 20px;
    text-align: left;
    position: relative;
}

.container .form-control.text .label {
    color: #00dd5c;
    background-color: white;
    position: absolute;
    top: -10px;
    left: 20px;
    visibility: hidden;
    font-size: .8rem;
}

.container .form-control input {
    width: 100%;
    padding: 10px;
    border: 2px solid #f0f0f0;
    border-radius: 5px;
    font-family: inherit;

}

.container .form-control select {
    width: 100%;
    padding: 10px;
    border: 2px solid #f0f0f0;
    border-radius: 5px;
    font-family: inherit;

}

/* input, #textarea-container textarea, select {
    outline: none;
    border-color: #070808 !important;
} */

input:focus, #textarea-container textarea:focus, select:focus {
    outline: none;
    border-color: #00dd5c !important;
}

label.focus {
    /* color: #2ecc71;
    background-color: white; */
    padding: 1px 5px;
    transition: all .5s ease-out;
}

#textarea-container {
    text-align: left;
    position: relative;
    /* width: 100%; */
}

.container textarea {
    /* max-width: 100%; */
    width: 100%;
    height: 150px;
    /* padding: 10px; */
    border: 2px solid #f0f0f0;
    border-radius: 5px;
}

button {
    background-color: #00dd5c;
    border: 2px solid white;
    border-radius: 5px;
    padding: 10px 20px;
    color: white;
    cursor: pointer;
    font-family: inherit;
}

.container .form-control input[type="checkbox"] {
    width: fit-content;
}

.container .form-control.least label {
    visibility: visible;
    font-size: .8em;
}

.form-control small {
    visibility: hidden;
    position: absolute;
    bottom: 0;
    left: 20px;
}

.form-control i.fa-circle-exclamation {
    visibility: hidden;
    position: absolute;
    bottom: 0;
    left: 0;
}

.form-control.error small {
    color: #e74c3c;
    visibility: visible;
    bottom: -2px;
}

.form-control.error i.fa-circle-exclamation {
    color: #e74c3c;
    visibility: visible;
}

/* .form-control.success input {
    border-color: #2ecc71;
} */

.form-control.error input {
    border-color: #e74c3c;
}

.form-control.error select {
    border-color: #e74c3c;
}



@media (min-width: 450px) {
    .container {
        width: 80%;
    }

}

@media (min-width: 700px) {

    header {
        font-size: 1rem;
        /* padding: 1.2rem; */
    }
    
    .container {
        width: 90%;
    }
    .container .form-control {
        margin: 10px 5px;
        width: 46%;
        display: inline-block;
    }

    #textarea-container {
        width: 45%;
        left: 20px;
    }
    
}

@media (min-width: 900px) {

    .container {
        width: 70%;
    }
    .container .form-control {
        margin: 10px 5px;
        width: 46%;
        display: inline-block;
    }

    #textarea-container {
        width: 45%;
        left: 29px;
    }
    
}

/* ---------------------------------------------------Loader-------------------------------------------------------- */
#overlay {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
    z-index: 2;
    cursor: pointer;
  }
.loader {
    color: rgba(0,0,0,0.5);;
    font-size: 20px;
    margin: 100px auto;
    width: 1em;
    height: 1em;
    border-radius: 50%;
    position: relative;
    text-indent: -9999em;
    -webkit-animation: load4 1.3s infinite linear;
    animation: load4 1.3s infinite linear;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
    display: none;
    
    
  }
  @-webkit-keyframes load4 {
    0%,
    100% {
      box-shadow: 0 -3em 0 0.2em, 2em -2em 0 0em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 0;
    }
    12.5% {
      box-shadow: 0 -3em 0 0, 2em -2em 0 0.2em, 3em 0 0 0, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 -1em;
    }
    25% {
      box-shadow: 0 -3em 0 -0.5em, 2em -2em 0 0, 3em 0 0 0.2em, 2em 2em 0 0, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 -1em;
    }
    37.5% {
      box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0em 0 0, 2em 2em 0 0.2em, 0 3em 0 0em, -2em 2em 0 -1em, -3em 0em 0 -1em, -2em -2em 0 -1em;
    }
    50% {
      box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 0em, 0 3em 0 0.2em, -2em 2em 0 0, -3em 0em 0 -1em, -2em -2em 0 -1em;
    }
    62.5% {
      box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 0, -2em 2em 0 0.2em, -3em 0 0 0, -2em -2em 0 -1em;
    }
    75% {
      box-shadow: 0em -3em 0 -1em, 2em -2em 0 -1em, 3em 0em 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 0, -3em 0em 0 0.2em, -2em -2em 0 0;
    }
    87.5% {
      box-shadow: 0em -3em 0 0, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 0, -3em 0em 0 0, -2em -2em 0 0.2em;
    }
  }
  @keyframes load4 {
    0%,
    100% {
      box-shadow: 0 -3em 0 0.2em, 2em -2em 0 0em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 0;
    }
    12.5% {
      box-shadow: 0 -3em 0 0, 2em -2em 0 0.2em, 3em 0 0 0, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 -1em;
    }
    25% {
      box-shadow: 0 -3em 0 -0.5em, 2em -2em 0 0, 3em 0 0 0.2em, 2em 2em 0 0, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 -1em;
    }
    37.5% {
      box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0em 0 0, 2em 2em 0 0.2em, 0 3em 0 0em, -2em 2em 0 -1em, -3em 0em 0 -1em, -2em -2em 0 -1em;
    }
    50% {
      box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 0em, 0 3em 0 0.2em, -2em 2em 0 0, -3em 0em 0 -1em, -2em -2em 0 -1em;
    }
    62.5% {
      box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 0, -2em 2em 0 0.2em, -3em 0 0 0, -2em -2em 0 -1em;
    }
    75% {
      box-shadow: 0em -3em 0 -1em, 2em -2em 0 -1em, 3em 0em 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 0, -3em 0em 0 0.2em, -2em -2em 0 0;
    }
    87.5% {
      box-shadow: 0em -3em 0 0, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 0, -3em 0em 0 0, -2em -2em 0 0.2em;
    }
  }